$breakpoint-tablet: 900px;
@import url('https://fonts.googleapis.com/css?family=Alata|Open+Sans|Trade+Winds&display=swap');
.header-app {
    display: flex;
    font-family: Trade Winds;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    // padding: 0 20px;
    width: 100% !important;
    background-color: #262626;
    a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        text-transform: uppercase;
    }
}
h1{
    font-family: Trade Winds;
}
h2,h3,h4,h5,h5{
    font-family: Alata !important;
}
/* 
.AppContainer {
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.App {
    text-align: center;
}

.container-nav {
    width: 20%;
    background-color: red;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    width: 80%;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    h1 {
        padding: 0;
        margin: 0;
        font-family: Trade Winds;
        font-weight: 100;
        color: white
    }
}

.section {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dices-type {
    background-color: blue;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    img,
    svg {
        width: calc(100% / 8);
        padding: 10px;
        box-sizing: border-box;
    }
}



.menu-hide {
    display: none;
}

.menu-show {
    display: block;
}
body {
    background-color: red;
}
.menu-links {
    display: flex;
    padding: 0;
    width: 200px;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    text-align: left;
    background-color: #404040;
    li:first-child {
        padding-top: 20px;
    }
    li {
        width: 90%;
        padding: 4px 0;
        margin: 0;
    }
    a {
        padding: 0;
        margin: 0;
        color: white;
        text-decoration: none;
    }
}

.poke-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.w3-table {
    width: 50%;
    background-color: green;
    input {
        width: 90%;
    }
}

.dice-results {
    background-color: yellow;
    padding: 5px;
    margin: 0;
    list-style-type: none;
    li {
        display: inline;
        margin: 0 5px;
        background-color: blue;
    }
}

@media (max-width: $breakpoint-tablet) {
    .menu-show,
    .menu-links {
        width: 200px;
        position: fixed;
        top: 64px
    }
    .container {
        width: 100%;
    }
    .dices-type {
        img,
        svg {
            width: calc(100% / 4);
        }
    }

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */